# In this project you have to do data preprocessing 
1-- Reading file
2-- clean data
3-- Split data into train and test

In [1]:
import os
import numpy as np
import pandas as pd
print("okay")

okay

In [2]:
DataSet = pd.read_csv("Data.csv")
DataSet.head()
#DataSet.tail()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [3]:
X = DataSet.iloc[:, :-1].values
Y = DataSet.iloc[:, 3].values

# Train and test spliting Data function

In [4]:
import random

def Split_data_into_train_test(new_X , new_Y ,test_size,j):
    t_s = 1-test_size
    train_size =  int(t_s * ( 100 / j ))        #Make it geric but later
    size = new_X.shape
    train_data_x = np.zeros((train_size,3),dtype=object)
    train_data_y = np.zeros((train_size,1),dtype=object)

    i = 0 
    while(i < train_size):
        index = random.randint(0, j)
        train_data_x[i] = new_X[index]
        train_data_y[i] = new_Y[index]
        new_X = np.delete(new_X,index,axis=0)
        new_Y = np.delete(new_Y,index,axis=0)
        j = j-1
        i = i+1
    return train_data_x ,new_X ,train_data_y , new_Y
size = X.shape
X_train , X_test , Y_train , Y_test = Split_data_into_train_test(X , Y ,  0.2 ,size[0]-1)

In [5]:
X_train

array([['Germany', 40.0, nan],
       ['Germany', 50.0, 83000.0],
       ['Spain', nan, 52000.0],
       ['France', 44.0, 72000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Spain', 27.0, 48000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [6]:
X_test

array([['France', 35.0, 58000.0],
       ['France', 48.0, 79000.0]], dtype=object)

In [7]:
Y_train

array([['Yes'],
       ['No'],
       ['No'],
       ['No'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes']], dtype=object)

In [8]:
Y_test

array(['Yes', 'Yes'], dtype=object)